<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rajatnagpure.earnfromads">

    <application
        android:name="com.rajatnagpure.earnfromads.App"
        android:allowBackup="true"
        android:icon="@mipmap/earn_rupees_logo_square"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/earn_rupees_logo_circle"
        android:supportsRtl="true"
        android:theme="@style/Theme.EarnFromAds">
        <activity android:name="com.rajatnagpure.earnfromads.NotLoading"></activity>
        <activity android:name="com.rajatnagpure.earnfromads.GooglePlay" />
        <activity android:name="com.rajatnagpure.earnfromads.Earn" />
        <activity android:name="com.rajatnagpure.earnfromads.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>